<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="magi.myfirappinair" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_ironman"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".QuizSplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuizMenuActvity"
            android:label="@string/title_activity_quiz_menu_actvity"
            android:parentActivityName=".QuizActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="magi.myfirappinair.QuizActivity" />
        </activity>
        <activity
            android:name=".QuizHelpActivity"
            android:label="@string/title_activity_quiz_help"
            android:parentActivityName=".QuizActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="magi.myfirappinair.QuizActivity" />
        </activity>
        <activity
            android:name=".QuizScoresActivity"
            android:label="@string/title_activity_quiz_scores"
            android:parentActivityName=".QuizActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="magi.myfirappinair.QuizActivity" />
        </activity>
        <activity
            android:name=".QuizSettingsActivity"
            android:label="@string/title_activity_quiz_settings"
            android:parentActivityName=".QuizActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="magi.myfirappinair.QuizActivity" />
        </activity>
        <activity
            android:name=".QuizGameActivity"
            android:label="@string/title_activity_quiz_game"
            android:parentActivityName=".QuizActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="magi.myfirappinair.QuizActivity" />
        </activity>
    </application>

</manifest>
